* {
  font-family: sans-serif;
}
.container {
  margin: 0 auto;
  padding: 0;
  text-align: center;
}
#app-title {
  margin: 1rem 0;
}
.form-section {
  padding: 1rem;
  textarea{
    width: 25%;
  }
}
.new-sighting {
  background: lightgrey;
  width: 50vw;
  margin: 1rem auto;
  padding: 1rem  0;
}
.sighting-card {
  width: 25%;
  margin: 1rem auto;
  padding: 0.5rem 0;
  border: 1px solid lightgrey;
}
#your-location {
  background: lightgrey;
  text-align: center;
  margin: 0 auto;
  width: 50vw;
  height: 50vh; 
  * {
    text-align: left;
  }
}