<!DOCTYPE html>
<html>
<head>
  <title>Poke Crowd</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <h1 id="app-title">PokeCrowd</h1>
    <%= yield %>
  </div>
</body>
</html>
